<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">

    {{ with .Title }}<title>{{ . | title }}</title>{{ end }} {{ with .Params.metadescription }}<meta name="description" content="{{ . }}">{{ end }} {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

    <title>the header</title>
</head>